.flash-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  font-weight: bold;
}

.flash-message.success {
  background-color: #d4f8d4;
  color: #0a600a;
}

.flash-message.error {
  background-color: #ffd4d4;
  color: #900000;
}