.folder-list {
  list-style: none;
  padding: 0;
}

.folder-list li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.folder-list li:hover {
  background: #eef3ff;
  /* color: #fff; */
}

.folder-item {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

/* フォルダ名を横いっぱいに広げる */
.folder-title {
  flex: 1;
  cursor: pointer;
}

/* 共通ボタンサイズ */
.edit-btn,
.delete-btn {
  border: none;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

/* 編集ボタン */
.edit-btn {
  background-color: #1976d2;
}

.edit-btn:hover {
  background-color: #1565c0;
}

/* 削除ボタン */
.delete-btn {
  background-color: #e53935;
}

.delete-btn:hover {
  background-color: #c62828;
}